<mat-list-item class="container"
  [ngClass]="{
    'priority-normal': item.priority === 3,
    'priority-important': item.priority === 2,
    'priority-emergency': item.priority === 1
  }"
  [@item]="widerPriority"
  [appDrag]="true"
  [draggedClass]="'drag-start'"
  (click)="onItemClick()">
  <mat-checkbox
   [checked]="item.completed"
   class="completion-status"
   (click)="onCheckBoxClick($event)"></mat-checkbox>
  <div matLine class="content" [ngClass]="{'completed': item.completed}">
    <span [matTooltip]="item.desc">{{item.desc}}</span>
  </div>
  <div matLine class="bottom-bar">
    <span class="due-date" *ngIf="item.dueDate">
      {{item.dueDate | date: "yy-MM-dd"}}
    </span>
    <mat-icon *ngIf="item.reminder">alarm</mat-icon>
  </div>
  <mat-icon [svgIcon]="avatar" matListAvatar class="avatar"></mat-icon>
</mat-list-item>
